.skin-black .main-header>.navbar {     background-color: #008D4D !important; }
.skin-black .main-header>.navbar>.sidebar-toggle {     background-color: #008D4D !important; }
.skin-black .main-header>.logo { background:#fff !Important; }

.skin-black .main-header>.navbar>.sidebar-toggle:hover {
    background-color: #00A65A !important; }
.table  td a i.fa { width:20px; display:inline-block;  }
.skin-black .main-header>.navbar .nav>li>a:hover, .skin-black .main-header li.user-header, .nav .open>a { background-color: #00A65A !important; }

.box-header.with-border  .btn.grid-refresh { background:#337ab7; border:1px solid #337ab7; }
.box-header.with-border  .btn-sm.btn-dropbox  {   background: transparent;  border: 2px solid #f0ad4e;   color: #000;  }
.box-header.with-border  .btn-sm.btn-twitter  { background: transparent;  border: 2px solid #f0ad4e;  color: #000;  }
.box-header.with-border  .btn-sm.btn-twitter.dropdown-toggle  {     background: transparent;  border: 2px solid #f0ad4e;  color: #000; }
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success { background-color: #008D4D !important; }

.skin-black .main-header>.logo:hover {   background-color: #fff !important; }
.btn.btn-sm.btn-success  {    background-color: #008D4D !important;  }
.btn.btn-info  {    background-color: #008D4D !important; border-color:#008D4D !important;  }
.main-header .logo { padding:0px 5px; text-align:left; }
.table td:last-child a { color:#008D4D !important; }
/**/
.skin-black.sidebar-collapse .main-header .logo .logo  {     position: absolute; top: 0;  left: 4px;  }
.skin-black.sidebar-collapse .main-header .logo .logo  img {     width: 85px; }
.bootstrap-switch-danger { background:#ec971f !Important;  }
.swal2-container  .swal2-confirm  { background:#f0ad4e !Important; outline:none !Important; box-shadow:none;  }
/* .swal2-container  .swal2-cancel  { background:#337ab7 !Important; outline:none !Important; box-shadow:none;  } */
.navbar-nav>.user-menu>.dropdown-menu>li.user-header { background:#eee !important;  }
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p { color:#000 !Important;  }
.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default { background:#008D4D !important; color:#fff !Important;   }
.navbar-nav>.user-menu>.dropdown-menu>.user-footer .pull-right .btn-default {  background:#f0ad4e !Important; color:#fff !Important;  }
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {     box-shadow: 1px 1px 8px #777; }
.btn.btn-danger { background:#f0ad4e !Important; color:#fff !Important; border-color:#f0ad4e; }
/**5.dec**/
.table.table-hover .badge.bg-green {   background-color: #f0ad4e !important; border-color:#f0ad4e !important;  }
.table.table-hover .label.label-info {   background-color: #008D4D !important; border-color:#008D4D !important;  }

/**6.dec**/
.fields-group #parent_category_inner { max-width:400px; }
.fields-group #category_name { max-width:326px; }
.fields-group #category_image_inner { max-width:400px; }
.fields-group #category_description { max-width:370px; }
.categoryform .box-footer .btn-group.pull-right { position:relative; right:15px; float:left !important;   }
.companyform .box-footer .btn-group.pull-right { position:relative; right:15px; float:left !important;   }
.sidebar-collapse .companyform .box-footer .btn-group.pull-right {  position: relative;  right: 40px; }

.companyform .fields-group .form-group > label { width:180px; }
.companyform .fields-group .form-group .control-label  { width:auto; min-width:180px; }
.companyform .fields-group .form-group  { width:540px; }
.companyform .fields-group .form-group #status_inner  { width:200px; }
/* .companyform .box-footer .btn-group.pull-right  {  position:relative; right:40px; float:left !important; } */
.companyform .box-footer .form-group  { width:540px; }
#roles_form .fields-group  .form-group  { width:540px; }
#roles_form .fields-group .form-group > label { width:180px; }

#roles_form .box-footer .col-md-8 { max-width:350px; }
.sidebar-collapse #roles_form .box-footer .col-md-8 { max-width:320px; }
#filter-box { max-width:500px; margin:0 auto;  }
#filter-box  .form-horizontal .control-label { min-width:156px;  }
/**/
#filter-box .form-horizontal .col-md-12 .col-md-8 .btn-group { float:right !Important; margin-left:15px; }
.companybranchform  .fields-group { max-width:540px; }
.companybranchform  .fields-group  #status_inner  { min-width:156px;  }
.companybranchform .box-footer .col-md-8 { max-width:290px; }
.sidebar-collapse .companybranchform .box-footer .col-md-8 { max-width:260px; }

#ivr_form { max-width:540px;  }
#ivr_form .form-group > label { width:180px; }
#ivr_form .box-footer .col-md-8 {     width: 355px;  float: right; }
#ivr_form .control-label .fa  {  font-weight:600;  }

.usersform { max-width:540px;  }
.usersform  #status_inner { min-width:156px; }
.usersform  .fields-group .form-group > label { width:180px; }
#usersform .box-footer .col-md-8 {     width: 355px;  float: right; }
#usersform .fields-group .form-group > label { width:130px;  }
/**/
.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}
h1 .counter {     font-size: 45px;  text-align: center;  display: block;   color: #009551; }
.app_customer .fa {     font-size: 90px;
    text-align: center;
    display: block;
    color: #DA8C10;
    margin-top: 40px; }
.chart_full .box.box-danger { min-height:340px;  }	
/**/
#usersform .fields-group .form-group  .btn-group  button[type=submit] { margin:15px 0px;  }	
/**7.dec**/
.box-body.table-responsive  tr th, .box-body.table-responsive  tr td  { max-width:100px; }
/**10.dec**/
.box-body.table-responsive tr th, .box-body.table-responsive tr td {
    max-width: 100px;
    word-break: break-all;
}
.box-body.table-responsive tr td span.label.label-success { float:left; margin:3px;  }


@media only screen and (min-width : 992px) and (max-width: 1200px){ 

}

@media only screen and (max-width:991px) and (min-width:768px){ 
.table td a i.fa  {     width: 20px; display: block; padding-bottom: 5px; }

}

@media (max-width: 767px) {

}