 .login-page {background: #268560 !important;}
 .login-box-body {border-radius: 23px;}

 .skin-black .main-header>.logo {
    background-color: #22b7b5 !important;
}
.skin-black .main-header>.logo:hover {
    background-color: #22b7b5 !important;
}
.skin-black .main-header>.navbar>.sidebar-toggle {
    background-color: #22b7b5 !important;
    color:#FFF !important;
}
.skin-black .main-header>.navbar>.sidebar-toggle:hover {
    background-color: #22b7b5 !important;
    color:#FFF !important;
}
.skin-black .main-header>.navbar {
     background-color: #14A8A6 !important;
}
.skin-black .main-header>.navbar .nav>li>a {
    color:#FFF !important;
}
 .skin-black .main-header>.navbar .nav>li>a:hover, .skin-black .main-header li.user-header,.nav .open>a {
    color:#FFF !important;
    background-color: #14A8A6 !important;
}